

body {
    background-color: rgb(21, 0, 25);

}




@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 67vh;
    --card-height--github: 50vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.heading {
    margin-top: 2vh;
    display: flex;
    margin: auto;
    /* text-align: center; */
    justify-content: center;
    font-size: 4.5vw;
    /* color:#5ddcff; */
    font-family: varino;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 225, 255);
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -0.5px -0.5px 1px) drop-shadow(rgba(124, 127, 255, 0.6) 0.5px 0.5px 1px);
    padding-bottom: 5%;
}




